{
{#- Updated for 1.6.0 to handle DOI events from CSV 
- Requires DataCite subscription and most importantly the Fragaria module to be enabled
which is the one that provides the sbf_datacite twig extension doing all validation
For an AMI set, a CSV column "doi_datacite_action" can contain one of: draft, register, publish or delete
doi_event and dataOriginal (original data of an ADO being updated,
only present if this template is used to update existing ones) is
passed to the `sbf_datacite` twig extension, wich will return only an entry for the active API
if all is valid based on previously known state #}
{# Data Cite Setup: If all previos conditions apply, please remove lines 12 and 25 #}
{% set ap_tasks = null %}
{#-
{%- if datacite_enabled %}
  {% set doi_event = data.doi_datacite_action|default(null) %} 
  {% set doi_ap_tasks = sbf_datacite(dataOriginal|default([]), doi_event) %}
  {% set ap_tasks = doi_ap_tasks["ap:tasks"]|default([]) %}
  {% if dataOriginal["ap:tasks"] is defined and dataOriginal["ap:tasks"] is not empty %}
    {% if dataOriginal["ap:tasks"]["ap:fragaria"] is defined and ap_tasks["ap:fragaria"] is defined %}
       {% set ap_fragaria = dataOriginal["ap:tasks"]["ap:fragaria"]|merge(ap_tasks["ap:fragaria"]) %}
       {% set ap_tasks = {"ap:fragaria": ap_fragaria } %}
    {% endif %}
	{% set ap_tasks = dataOriginal["ap:tasks"]|merge(ap_tasks) %} 
  {% endif %}
{% endif -%}
-#}
{# ap_tasks is used at the end of this template #}
    "type": {{ data.type|json_encode|raw }},
    "label": {{ data.label|json_encode|raw }},
    "description": {{ data.description|json_encode|raw }},
    "abstract": {{ data.abstract|json_encode|raw }},
    "collecting_area": {{ data.collecting_area|json_encode|raw }},
    "digital_exhibit": {{ data.digital_exhibit|json_encode|raw }},
    "date_created": {{ data.date_created|json_encode|raw }},
    "date_created_edtf": {{ data.date_created_edtf|json_encode|raw }},
    "creator": {{ data.creator|json_encode|raw }},
    "language": {{ data.language|json_encode|raw }},
    "ismemberof": [],
    "ispartof": [],
    "sequence_id": {{ data.sequence_id|json_encode|raw }},  
    "identifier": {{ data.identifier|json_encode|raw }},
    "note": {{ data.note|json_encode|raw }},
    "physical_location": {{ data.physical_location|json_encode|raw }},
    "rights": {{ data.rights|json_encode|raw }},
    "geographic_subject_linked_data": {{ data.geographic_subject_linked_data|json_encode|raw }},
    "content_type": {{ data.content_type|json_encode|raw }},
    "geographic_location": {{ data.geographic_location|json_encode|raw }},
    "annotations": {{ data.annotations|json_encode|raw }},
    "access_rights": {{ data.access_rights|json_encode|raw }},
    "agent": {{ data.agent|json_encode|raw }},
    "agent_linked_data": {{ data.agent_linked_data|json_encode|raw }},
    "audience": {{ data.audience|json_encode|raw }},
    "classification": {{ data.classification|json_encode|raw }},
    "coordinates": {{ data.coordinates|json_encode|raw }},
    "contributor": {{ data.contributor|json_encode|raw }},
    "date_available": {{ data.date_available|json_encode|raw }},
    "date_built": {{ data.date_built|json_encode|raw }},
    "date_digital_creation": {{ data.date_digital_creation|json_encode|raw }},
    "date_issued": {{ data.date_issued|json_encode|raw }},
    "date_razed": {{ data.date_razed|json_encode|raw }},
    "digital_publisher": {{ data.digital_publisher|json_encode|raw }},
    "extent": {{ data.extent|json_encode|raw }},
    "format": {{ data.format|json_encode|raw }},
    "genre_form": {{ data.genre_form|json_encode|raw }},
    "genre_form_linked_data": {{ data.genre_form_linked_data|json_encode|raw }},
    "geographic_subject": {{ data.geographic_subject|json_encode|raw }},
    "local_department": {{ data.local_department|json_encode|raw }},
    "medium": {{ data.medium|json_encode|raw }},
    "mimetype": {{ data.mimetype|json_encode|raw }},
    "original_publication": {{ data.original_publication|json_encode|raw }},
    "original_publisher": {{ data.original_publisher|json_encode|raw }},
    "physical_collection": {{ data.physical_collection|json_encode|raw }},
    "projection": {{ data.projection|json_encode|raw }},
    "provenance": {{ data.provenance|json_encode|raw }},
    "related_record": {{ data.related_record|json_encode|raw }},
    "related_url": {{ data.related_url|json_encode|raw }},
    "related_url_historic": {{ data.related_url_historic|json_encode|raw }},
    "rights_holder": {{ data.rights_holder|json_encode|raw }},
    "rights_details": {{ data.rights_details|json_encode|raw }},
    "sponsorship": {{ data.sponsorship|json_encode|raw }},
    "state_edition": {{ data.state_edition|json_encode|raw }},
    "subject": {{ data.subject|json_encode|raw }},
    "subject_linked_data": {{ data.subject_linked_data|json_encode|raw }},
    "table_of_contents": {{ data.table_of_contents|json_encode|raw }},
    "temporal_subject": {{ data.temporal_subject|json_encode|raw }},
    "temporal_subject_linked_data": {{ data.temporal_subject_linked_data|json_encode|raw }},
    "title_alternative": {{ data.title_alternative|json_encode|raw }},
    "audios": [],
    "images": [],
    "models": [],
    "videos": [],
    "documents": [],
    "as:generator": {
        "type": "Create",
        "actor": {
            "url": {{ setURL|json_encode|raw }},
            "name": "ami",
            "type": "Service"
        },
        "endTime": "{{"now"|date("c")}}",
        "summary": "Generator",
        "@context": "https:\/\/www.w3.org\/ns\/activitystreams"
    },
    {%- if ap_tasks is defined and ap_tasks is iterable and ap_tasks is not empty -%},
    "ap:tasks": {{ ap_tasks|json_encode|raw }},
    {% endif %}
    "upload_associated_warcs": []
   
}