{#
Updated 06/13/2024 for 1.4.0

Uses metadata exposed endpoint Route to generate URL so Aliases don't break it

This Template generates IIIF 3.0 API Manifest for Collections using a Drupal Views
JSON to be used by a Drupal Views (REST) to generate a simpler to parse/join listing of Canvases
For a Collection Manifest Manifest

Structures passed from Archipelago are
- node
  The full Node entity
- data
  The Full JSON Structure converted in an Array
- iiif_server
  The publicly available IIIF Server (Global Setting)

Since JSON was decoded into the 'data' values are valid PHP but could not
be valid JSON when outputting. So We use data.description|json_encode|raw
Without Double quotes.
#}
{% set Webserverurl =  url('<front>')|render|replace({':8001/':''}) ~ ':8183/iiif/2/' %}
{% set IIIFserverurl = iiif_server ? iiif_server ~ '/': Webserverurl %}
{% set currenturl = url('<current>')|render %}
{% set nodeid = 1 %} 
{% if node.id %}
{# this is needed to the View Argument can conform to the format even when no node exists when saving the template #}
  {% set nodeid = node.id %}
  {% set nodeurl = url('entity.node.canonical', {'node': node.id}, {'absolute': true}) %}
{% else %}
  {% set nodeid = 1 %} 
  {% set nodeurl = currenturl %}
{% endif%}
{% set len = language.getId() ? language.getId() : "en" %}
{% set computed_rights = "http://rightsstatements.org/vocab/InC-EDU/1.0/" %}
{% if data.rights|length > 0 or data.rights_statements|length > 0 %}
	{% if data.rights|length > 0 %} 
		{% set computed_rights = data.rights %}
	{% endif %}
{% elseif data.rights_statements|length > 0 %}
	{% if data.rights_statements in ['In Copyright'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/InC/1.0/" %}
	{% endif %}
	{% if data.rights_statements in ['In Copyright - EU Orphan Work'] %} 
    	{% set computed_rights = "http://rightsstatements.org/vocab/InC-OW-EU/1.0/" %}
	{% endif %}
	{% if data.rights_statements in ['In Copyright - Educational Use Permitted'] %} 
	   	{% set computed_rights = "http://rightsstatements.org/vocab/InC-EDU/1.0/" %}
	{% endif %}
	{% if data.rights_statements in ['In Copyright - Non-Commercial Use Permitted'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/InC-NC/1.0/" %}
	{% endif %}
	{% if data.rights_statements in ['In Copyright - Rights-holder(s) Unlocatable or Unidentifiable'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/InC-RUU/1.0/" %}
	{% endif %}
	{% if data.rights_statements in ['No Copyright - Contractual Restrictions'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NoC-CR/1.0/" %}
	{% endif %} 
	{% if data.rights_statements in ['No Copyright - Non-Commercial Use Only'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NoC-NC/1.0/" %}
	{% endif %}
	{% if data.rights_statements in ['No Copyright - Other Known Legal Restrictions'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NoC-OKLR/1.0/" %}
	{% endif %}
	{% if data.rights_statements in ['No Copyright - United States'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NoC-US/1.0/" %}
	{% endif %} 
	{% if data.rights_statements in ['Copyright Not Evaluated'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/CNE/1.0/" %}
	{% endif %}
	{% if data.rights_statements in ['Copyright Undetermined'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/UND/1.0/" %}
	{% endif %}
	{% if data.rights_statements in ['No Known Copyright'] %} 
		{% set computed_rights = "http://rightsstatements.org/vocab/NKC/1.0/" %}
	{% endif %}
{% endif %}
{
{# Top Object Metadata #}
"@context": [
  "http://www.w3.org/ns/anno.jsonld",
  "http://iiif.io/api/presentation/3/context.json"
],
"type": "Collection",
"id": "{{ currenturl }}",
"label": {
"{{ len }}": [
{{ node.label|json_encode|raw }}
]
},
"requiredStatement": {
"label": { "en": [ "Attribution" ] },
"value": { "en": [ "Provided by Archipelago Deployment" ] }
},
"rights": {{ computed_rights|json_encode|raw }},
        "metadata": [
        {% if data.abstract %}
        {
        "label": { "{{ len }}": ["Abstract"] },
        "value": { "{{ len }}": [{{ data.abstract|markdown_2_html|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.access_rights %}
        {
        "label": { "{{ len }}": ["Access Rights"] },
        "value": { "{{ len }}": [{{ data.access_rights|json_encode|raw }}] }
        },
        {% endif %}
        {% for item in attribute(data, 'agent') %}
        {
        "label": { "{{ len }}": [{{ (item.role_label ? item.role_label : 'Creator/Contributor')|json_encode|raw }}] },
        "value": { "{{ len }}": [{{ item.name_label|json_encode|raw }}] }
        },
        {% endfor %}
        {% for item in attribute(data, 'agent_linked_data') %}
        {
        "label": { "{{ len }}": [{{ (item.role_label ? item.role_label : 'Creator/Contributor')|json_encode|raw }}] },
        "value": { "{{ len }}": [{{ item.name_label|json_encode|raw }}] }
        },
        {% endfor %}
        {% if data.audience %}
        {
        "label": { "{{ len }}": ["Audience"] },
        "value": { "{{ len }}": {{ data.audience|json_encode|raw }} }
        },
        {% endif %}
        {% if data.classification %}
        {
        "label": { "{{ len }}": ["Classification"] },
        "value": { "{{ len }}": [{{ data.classification.value|default(data.classification)|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.collecting_area %}
        {
        "label": { "{{ len }}": ["Collecting Area"] },
        "value": { "{{ len }}": [{{ data.collecting_area|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.content_type %}
        {
        "label": { "{{ len }}": ["Content Type"] },
        "value": { "{{ len }}": {{ data.content_type|json_encode|raw }} }
        },
        {% endif %}
        {% for creator in attribute(data, 'creator') %}
        {
        "label": { "{{ len }}": ["Creator"] },
        "value": { "{{ len }}": [{{ creator|json_encode|raw }}] }
        },
        {% endfor %}
        {% for contributor in attribute(data, 'contributor') %}
        {
        "label": { "{{ len }}": ["Contributor"] },
        "value": { "{{ len }}": [{{ contributor|json_encode|raw }}] }
        },
        {% endfor %}
        {% if data.coordinates %}
        {
        "label": { "{{ len }}": ["Coordinates"] },
        "value": { "{{ len }}": {{ data.coordinates|json_encode|raw }} }
        },
        {% endif %}
        {% if data.date_available %}
        {
        "label": { "{{ len }}": ["Date Available"] },
        "value": { "{{ len }}": [{{ data.date_available|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.date_built %}
        {
        "label": { "{{ len }}": ["Date Built"] },
        "value": { "{{ len }}": [{{ data.date_built|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.date_created %}
        {
        "label": { "{{ len }}": ["Date Created"] },
        "value": { "{{ len }}": [{{ data.date_created|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.date_digital_creation %}
        {
        "label": { "{{ len }}": ["Date Available Online"] },
        "value": { "{{ len }}": [{{ data.date_digital_creation|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.date_issued %}
        {
        "label": { "{{ len }}": ["Date Issued"] },
        "value": { "{{ len }}": [{{ data.date_issued|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.date_razed %}
        {
        "label": { "{{ len }}": ["Date Razed"] },
        "value": { "{{ len }}": [{{ data.date_razed|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.description %}
        {
        "label": { "{{ len }}": ["Description"] },
        "value": { "{{ len }}": {{ data.description|json_encode|raw }} }
        },
        {% endif %}
        {% if data.digital_exhibit %}
        {
        "label": { "{{ len }}": ["Part of Digital Exhibit"] },
        "value": { "{{ len }}": [{{ data.digital_exhibit.value|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.digital_publisher %}
        {
        "label": { "{{ len }}": ["Digital Publisher"] },
        "value": { "{{ len }}": {{ data.digital_publisher|json_encode|raw }} }
        },
        {% endif %}
        {% if data.extent %}
        {
        "label": { "{{ len }}": ["Extent"] },
        "value": { "{{ len }}": {{ data.extent|json_encode|raw }} }
        },
        {% endif %}
        {% if data.format %}
        {
        "label": { "{{ len }}": ["Format"] },
        "value": { "{{ len }}": [{{ data.format|json_encode|raw }}] }
        },
        {% endif %}
        {% set genre_values = data.genre_form ? data.genre_form : [] %}
        {% for item in attribute(data, 'genre_form_linked_data') %}
        {% set genre_values = genre_values|merge([item.title]) %}
        {% endfor %}
        {% if genre_values %}
        {
        "label": { "{{ len }}": ["Genre"] },
        "value": { "{{ len }}": {{ genre_values|json_encode|raw }} }
        },
        {% endif %}
        {% set geo_subject_values = data.geographic_subject ? data.geographic_subject : [] %}
        {% for item in attribute(data, 'geographic_subject_linked_data') %}
        {% set geo_subject_values = geo_subject_values|merge([item.title]) %}
        {% endfor %}
        {% if geo_subject_values %}
        {
        "label": { "{{ len }}": ["Geographic Subject"] },
        "value": { "{{ len }}": {{ geo_subject_values|json_encode|raw }} }
        },
        {% endif %}
        {% for item in attribute(data, 'identifier') %}
        {
        "label": { "{{ len }}": ["Identifier"] },
        "value": { "{{ len }}": [{{ item.value|json_encode|raw }}] }
        },
        {% endfor %}
        {% if data.language %}
        {
        "label": { "{{ len }}": ["Language"] },
        "value": { "{{ len }}": {{ data.language|json_encode|raw }} }
        },
        {% endif %}
        {% if data.local_department %}
        {
        "label": { "{{ len }}": ["Local Department"] },
        "value": { "{{ len }}": {{ data.local_department|json_encode|raw }} }
        },
        {% endif %}
        {% if data.medium %}
        {
        "label": { "{{ len }}": ["Medium"] },
        "value": { "{{ len }}": {{ data.medium|json_encode|raw }} }
        },
        {% endif %}
        {% if data.note %}
        {
        "label": { "{{ len }}": ["Note"] },
        "value": { "{{ len }}": {{ data.note|json_encode|raw }} }
        },
        {% endif %}
        {% if data.original_publication %}
        {
        "label": { "{{ len }}": ["Original Publication"] },
        "value": { "{{ len }}": {{ data.original_publication|json_encode|raw }} }
        },
        {% endif %}
        {% if data.original_publisher %}
        {
        "label": { "{{ len }}": ["Original Publisher"] },
        "value": { "{{ len }}": [{{ data.original_publisher|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.physical_collection %}
        {
        "label": { "{{ len }}": ["Physical Collection"] },
        "value": { "{{ len }}": [{{ data.physical_collection|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.physical_location %}
        {
        "label": { "{{ len }}": ["Physical Location"] },
        "value": { "{{ len }}": [{{ data.physical_location|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.projection %}
        {
        "label": { "{{ len }}": ["Projection"] },
        "value": { "{{ len }}": {{ data.projection|json_encode|raw }} }
        },
        {% endif %}
        {% if data.provenance %}
        {
        "label": { "{{ len }}": ["Provenance"] },
        "value": { "{{ len }}": {{ data.provenance|json_encode|raw }} }
        },
        {% endif %}
        {% if data.related_item %}
        {
        "label": { "{{ len }}": ["Related Item"] },
        "value": { "{{ len }}": {{ data.related_item|json_encode|raw }} }
        },
        {% endif %}
        {% if data.related_url %}
        {
        "label": { "{{ len }}": ["Related URL"] },
        "value": { "{{ len }}": [{{ data.related_url|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.related_url_historic %}
        {
        "label": { "{{ len }}": ["Related URL (Historic)"] },
        "value": { "{{ len }}": [{{ data.related_url_historic|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.rights_details %}
        {
        "label": { "{{ len }}": ["Rights Details"] },
        "value": { "{{ len }}": [{{ data.rights_details|json_encode|raw }}] }
        },
        {% endif %}
        {% if data.rights_holder %}
        {
        "label": { "{{ len }}": ["Rights Holder"] },
        "value": { "{{ len }}": {{ data.rights_holder|json_encode|raw }} }
        },
        {% endif %}
        {% if data.sponsorship %}
        {
        "label": { "{{ len }}": ["Sponsorship"] },
        "value": { "{{ len }}": {{ data.sponsorship|json_encode|raw }} }
        },
        {% endif %}
        {% if data.state_edition %}
        {
        "label": { "{{ len }}": ["State Edition"] },
        "value": { "{{ len }}": {{ data.state_edition|json_encode|raw }} }
        },
        {% endif %}
        {% set subject_values = data.subject ? data.subject : [] %}
        {% for item in attribute(data, 'subject_linked_data') %}
        {% set subject_values = subject_values|merge([item.title]) %}
        {% endfor %}
        {% if subject_values %}
        {
        "label": { "{{ len }}": ["Subject"] },
        "value": { "{{ len }}": {{ subject_values|json_encode|raw }} }
        },
        {% endif %}
        {% if data.table_of_contents %}
        {
        "label": { "{{ len }}": ["Table of Contents"] },
        "value": { "{{ len }}": [{{ data.table_of_contents|json_encode|raw }}] }
        },
        {% endif %}
        {% set temporal_values = data.temporal_subject ? data.temporal_subject : [] %}
        {% for item in attribute(data, 'temporal_subject_linked_data') %}
        {% set temporal_values = temporal_values|merge([item.title]) %}
        {% endfor %}
        {% if temporal_values %}
        {
        "label": { "{{ len }}": ["Temporal Subject"] },
        "value": { "{{ len }}": {{ temporal_values|json_encode|raw }} }
        },
        {% endif %}
        {% if data.title_alternative %}
        {
        "label": { "{{ len }}": ["Alternative Title"] },
        "value": { "{{ len }}": {{ data.title_alternative|json_encode|raw }} }
        },
        {% endif %}
        {
        "label": { "{{ len }}": ["navDate"] },
        "value": { "{{ len }}": [{{ "now"|date("F jS \\a\\t g:ia")|json_encode|raw }}] }
        },
        {
        "label": { "{{ len }}": ["Rights"] },
        "value": { "{{ len }}": [{{ computed_rights|json_encode|raw }}] }
        }
        ],
{% if attribute(data, 'memberof') %}
    {% set currentnode = 'node/' ~ data.memberof %}
    "within": "{{ url(currentnode) }}",
{% else %}
    {% set currentnode = '<current>' %}
{% endif %}
{# fetch all children using a View and attach them as Items #}
  "items": [
{% set collection_view = drupal_view('data_collection_manifest','children_ismemberof_manifest_rest', nodeid)|render %}
{% set collection_items = collection_view|sbf_json_decode %}
{% for items in collection_items %}
{# canvas|json_encode #}
    {
    {% if 'CreativeWorkSeries' in items['ado_type']|split(',') %}
        "id": "{{ url('format_strawberryfield.metadatadisplay_caster', {'node': items['uuid'],'metadataexposeconfig_entity':'iiifmanifest3cws', 
        'format':'default.jsonld'}, {'absolute': true, 'alias': true}) }}",
        "type": "Manifest",
     {% elseif 'Collection' in items['ado_type']|split(',') %}
        "id": "{{ url('format_strawberryfield.metadatadisplay_caster', {'node': items['uuid'], 'metadataexposeconfig_entity':'iiifmanifest3collection', 
        'format':'default.jsonld'}, {'absolute': true, 'alias': true}) }}",
        "type": "Collection",
    {% else %}
         "id": "{{ url('format_strawberryfield.metadatadisplay_caster', {'node': items['uuid'], 'metadataexposeconfig_entity':'iiifmanifest', 
        'format':'default.jsonld'}, {'absolute': true, 'alias': true}) }}",
        "type": "Manifest",
    {% endif %}
       "label": { "{{len}}": [ "{{ items['label'] }}" ] },
       {{ items['thumbnail']|raw }}
    }
    {{ not loop.last ? ',' : '' }}
{% endfor %}
  ]
}
