<?xml version="1.0" encoding="UTF-8"?>
{# Date: May 2021. This template produces MODS records incorporating many of the most common MODS elements. This template can be expanded to incorproate additonal MODS elements as needed, if present in your Archipelago Digital Objects and Collections source data. #}
<mods xmlns="http://www.loc.gov/mods/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-7.xsd" version="3.7">
<titleInfo>
	<title>{{ data.label|escape('html_attr') }}</title>
</titleInfo>
{% if data.agent_linked_data %}
  {% for agent in data.agent_linked_data %}
    <name valueURI="{{ agent.uri }}">
      <namePart>{{ agent.value }}</namePart>
      <role>
        <roleTerm valueURI="{{ agent.role_uri }}" authority="marcrelator" type="text">{{ agent.role }}</roleTerm>
      </role>
    </name>
  {% endfor %}
{% endif %}
{% if data.collecting_area %}
  {% for item in data.collecting_area %}
    <relatedItem type="host">
      <titleInfo>
        <title>{{ item }}</title>
      </titleInfo>
    </relatedItem>
  {% endfor %}
{% endif %}
<typeOfResource>{{ data.content_type }}</typeOfResource>
{% if data.contributor %}
  {% for item in data.contributor %}
    <name>
      <namePart>{{ item }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/ctb" authority="marcrelator" type="text">contributor</roleTerm>
      </role>
    </name>
  {% endfor %}
{% endif %}
{% if data.date_available %}
  <dateOther>{{ data.date_available }}</dateOther>
{% endif %}
{% if data.date_digital_creation %}
  <dateOther>{{ data.date_digital_creation }}</dateOther>
{% endif %}
{% if data.date_built %}
  <note>{{ data.date_built }}</note>
{% endif %}
{% if data.date_razed %}
  <note>{{ data.date_razed }}</note>
{% endif %}
{% if data.projection %}
  <note>{{ data.projection }}</note>
{% endif %}
{% if data.state_edition %}
  <note>{{ data.state_edition }}</note>
{% endif %}
{% if data.date_issued %}
  <originInfo>
    <dateIssued>{{ data.date_issued }}</dateIssued>
  </originInfo>
{% endif %}
{% if data.digital_exhibit %}
  {% for item in data.digital_exhibit %}
    <relatedItem type="host">
      <titleInfo>
        <title>{{ item.value }}</title>
      </titleInfo>
    </relatedItem>
  {% endfor %}
{% endif %}
{% if data.digital_publisher %}
  <note>{{ data.digital_publisher }}</note>
{% endif %}
{% if data.original_publisher %}
  <publisher>{{ data.original_publisher }}</publisher>
{% endif %}
{% if data.format %}
  <physicalDescription>
    <digitalOrigin>{{ data.format }}</digitalOrigin>
  </physicalDescription>
{% endif %}
{% if data.medium %}
  {% for item in data.medium %}
    <physicalDescription>
      <form>{{ item }}</form>
    </physicalDescription>
  {% endfor %}
{% endif %}
{% if data.mimetype %}
  {% for item in data.mimetype %}
    <physicalDescription>
      <internetMediaType>{{ item }}</internetMediaType>
    </physicalDescription>
  {% endfor %}
{% endif %}
{% if data.genre_form %}
  {% for item in data.genre_form %}
    <genre>{{ item }}</genre>
  {% endfor %}
{% endif %}
{% if data.genre_form_linked_data %}
  {% for item in data.genre_form_linked_data %}
    <genre valueURI="{{ item.uri }}">{{ item.value }}</genre>
  {% endfor %}
{% endif %}
{% if data.geographic_subject %}
  {% for item in data.geographic_subject %}
    <subject><geographic>{{ item }}</geographic></subject>
  {% endfor %}
{% endif %}
{% if data.geographic_subject_linked_data %}
  {% for item in data.geographic_subject_linked_data %}
    <subject>
      <geographic valueURI="{{ item.uri }}">{{ item.value }}</geographic>
    </subject>
  {% endfor %}
{% endif %}
{% if data.local_department %}
  {% for item in data.local_department %}
    <name>
      <namePart>{{ item }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/ctb" authority="marcrelator" type="text">contributor</roleTerm>
      </role>
    </name>
  {% endfor %}
{% endif %}
{% if data.note %}
  {% for item in data.note %}
    <note>{{ item }}</note>
  {% endfor %}
{% endif %}
{% if data.original_publication %}
  {% for item in data.original_publication %}
    <relatedItem>
      <titleInfo><title>{{ item }}</title></titleInfo>
    </relatedItem>
  {% endfor %}
{% endif %}
{% if data.physical_collection %}
  <relatedItem>
    <titleInfo><title>{{ data.physical_collection }}</title></titleInfo>
  </relatedItem>
{% endif %}
{% if data.physical_location %}
  <location>
    <holdingSimple>
      <copyInformation>
        <shelfLocator>{{ data.physical_location }}</shelfLocator>
      </copyInformation>
    </holdingSimple>
  </location>
{% endif %}
{% if data.related_item %}
  {% for item in data.related_item %}
    <relatedItem>
      <location><url>{{ item }}</url></location>
    </relatedItem>
  {% endfor %}
{% endif %}
{% if data.related_url %}
  <relatedItem type="references">
    <location><url>{{ data.related_url }}</url></location>
  </relatedItem>
{% endif %}
{% if data.related_url_historic %}
  <relatedItem type="references">
    <location><url>{{ data.related_url_historic }}</url></location>
  </relatedItem>
{% endif %}
{% if data.rights_details %}
  <accessCondition type="use and reproduction">
    {{ data.rights_details }}
  </accessCondition>
{% endif %}
{% if data.sponsorship %}
  {% for item in data.sponsorship %}
    <name>
      <namePart>{{ item }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/spn" authority="marcrelator" type="text">sponsor</roleTerm>
      </role>
    </name>
  {% endfor %}
{% endif %}
{% if data.subject %}
  {% for item in data.subject %}
    <subject><topic>{{ item }}</topic></subject>
  {% endfor %}
{% endif %}
{% if data.subject_linked_data %}
  {% for item in data.subject_linked_data %}
    <subject>
      <topic valueURI="{{ item.uri }}">{{ item.value }}</topic>
    </subject>
  {% endfor %}
{% endif %}
{% if data.table_of_contents %}
  <tableOfContents>{{ data.table_of_contents }}</tableOfContents>
{% endif %}
{% if data.temporal_subject %}
  {% for item in data.temporal_subject %}
    <subject><temporal>{{ item }}</temporal></subject>
  {% endfor %}
{% endif %}
{% if data.temporal_subject_linked_data %}
  {% for item in data.temporal_subject_linked_data %}
    <subject>
      <temporal valueURI="{{ item.uri }}">{{ item.value }}</temporal>
    </subject>
  {% endfor %}
{% endif %}
{% if data.title_alternative %}
  {% for item in data.title_alternative %}
    <titleInfo type="alternative">
      <title>{{ item }}</title>
    </titleInfo>
  {% endfor %}
{% endif %}
{% if data.audience %}
    {% if data.audience is iterable %}
        {% for audience in data.audience %}
            <targetAudience>{{ audience }}</targetAudience>
        {% endfor %}
    {% else %}
        <targetAudience>{{ data.audience }}</targetAudience>
    {% endif %}
{% endif %}
{# Unmapped/Free-Text Creator #}
{% if data.creator|length > 0  %}
<name>
	{% if data.creator is iterable %}
		{% for creator in data.creator %}
			<namePart>{{ creator }}</namePart>
		{% endfor %}
{% for creator in data.creator %}
<namePart>{{ creator }}</namePart>
<role>
      <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/cre" authority="marcrelator" type="text">creator</roleTerm>
</role
{% endfor %}
{% else %}
     	<namePart>{{ data.creator }}</namePart>
	{% endif %} 
</name>	
{% endif %}
{% if data.agent %}
    {% for agent in data.agent %}
    <name>
        <namePart>{{ agent.value }}</namePart>
        <role>
            <roleTerm type="text">{{ agent.role }}</roleTerm>
<role>
<roleTerm valueURI="{{ agent.role_uri }}" authority= "marcrelator" type="text">{{ agent.role }}</roleTerm>
</role>
    </name>
    {% endfor %}
{% endif %}
{% if data.classification %}
<classification authority="{{ data.classification.authority }}">
    {{ data.classification.value }}
</classification>
{% endif %}
<typeOfResource>{{ data.type|escape('html_attr') }}</typeOfResource>
{% if data.subject_lcgft_terms|length > 0 %}
	{% for subjects in attribute(data, 'subject_lcgft_terms') %}
		<genre authority="lcgft" valueURI="{{ subjects.uri }}">{{ subjects.label }}</genre>
	{% endfor %}
{% endif %}
{% if data.coordinates %}
<subject>
    <cartographics>
        <cartographicExtension>{{ data.coordinates|escape('html_attr') }}</cartographicExtension>
    </cartographics>
</subject>
{% endif %}
<originInfo>
	{% if data.date_created|length > 0 %}
		<dateCreated>{{ data.date_created|date("Y-m-d") }}</dateCreated>
	{% endif %}
	{% if data.provenance %}
    	<note>{{ data.provenance }}</note>
	{% endif %}
</originInfo>
{% if data.language|length > 0 %}
	{% if data.language is iterable %}
		{% for language in data.language %}
			<language>
				<languageTerm type="text" authority="iso639-2b">{{ language }}</languageTerm>
			</language>
		{% endfor %}
     {% else %}
		<language>
			<languageTerm type="text" authority="iso639-2b">{{ data.language }}</languageTerm>
		</language>
	{% endif %}
{% endif %}	
{% if data.abstract %}
<abstract type="Summary">
    {{ data.abstract }}
</abstract>
{% endif %}
{% if data.description %}
  {% for item in data.description %}
    <note>{{ item }}</note>
  {% endfor %}
{% endif %}	
<physicalDescription>
<form authority="marcform">electronic</form>
<form authority="gmd">electronic resource</form>
{% if data.extent %}
    {% if data.extent is iterable %}
        {% for extent in data.extent %}
            <extent>{{ extent }}</extent>
        {% endfor %}
    {% else %}
        <extent>{{ data.extent }}</extent>
    {% endif %}
{% endif %}
</physicalDescription>
<location>
    {% if node.id %}
    	{% set nodeurl = url('entity.node.canonical', {'node': node.id}, {'absolute': true}) %}
            <url displayLabel="electronic resource" usage="primary display">{{ nodeurl }}</url>
    {% else %}    
        {% set nodeurl =  url('<current>') %}
        	<url displayLabel="electronic resource" usage="primary display">{{ current }}</url>
	{% endif%}
</location>
{# Rights Statements #}
{% if data.rights|length > 0 %} 	
	<accessCondition type="use and reproduction" displayLabel="Rights Statement">{{ data.rights }}</accessCondition>
{% endif %}
{% if data.rights_details %}
  <accessCondition type="use and reproduction">
    {{ data.rights_details }}
  </accessCondition>
{% endif %}
{% if data.access_rights %}
<accessCondition type="restriction on access">
    {{ data.access_rights }}
</accessCondition>
{% endif %}
{% if attribute(data, 'ismemberof') %}
	{% if attribute(data, 'ismemberof') is iterable %}
		{% for collection in attribute(data, 'ismemberof')%}
			{% set parentnode = bamboo_load_entity('node', collection) %}
			{% set parentnodeurl = url('entity.node.canonical', {'node': collection}, {'absolute': true}) %}
				<relatedItem type="host" displayLabel="Collection">
					<titleInfo>
						<title>{{ parentnode.title.value }}</title>
					</titleInfo>
				</relatedItem>
		{% endfor %}
		{% else %}
			{% set parentnode = bamboo_load_entity('node', attribute(data, 'ismemberof')) %}
			{% set parentnodeurl = url('entity.node.canonical', {'node': attribute(data, 'ismemberof')}, {'absolute': true}) %}
				<relatedItem type="host" displayLabel="Collection">
					<titleInfo>
						<title>{{ parentnode.title.value }}</title>
					</titleInfo>
				</relatedItem>
	{% endif %}
{% endif %}
<recordInfo>
	<languageOfCataloging>
		<languageTerm authority="iso639-2b" type="code">eng</languageTerm>
    </languageOfCataloging>
	<note type="statement of responsibility" altRepGroup="00">This MODS record was sourced from an Archipelago Commons repository. Not all data elements in this repository were mapped to MODS elements.</note>
</recordInfo>
</mods>
