<?xml version="1.0" encoding="UTF-8"?>
{# Updated 08/07/2026. Removed the date_available (dateOther) and related_url_historic
(relatedItem type="references") elements. #}
{# Date: May 2021. This template produces MODS records incorporating many of the most common MODS elements. This template can be expanded to incorproate additonal MODS elements as needed, if present in your Archipelago Digital Objects and Collections source data. #}
<mods xmlns="http://www.loc.gov/mods/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-7.xsd" version="3.7">
<titleInfo>
	<title>{{ data.label|escape('html_attr') }}</title>
</titleInfo>
{% if data.title_alternative %}
  {% for item in data.title_alternative %}
    <titleInfo type="alternative">
      <title>{{ item }}</title>
    </titleInfo>
  {% endfor %}
{% endif %}

{# Creators and Contributors #}
{% if data.creator %}
	{% if data.creator is iterable %}
  		{% for item in data.creator %}
    <name>
      <namePart>{{ item }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/cre" authority="marcrelator" type="text">creator</roleTerm>
      </role>
    </name>
  		{% endfor %}
	{% else %}
<name>
      <namePart>{{ data.creator }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/cre" authority="marcrelator" type="text">creator</roleTerm>
      </role>
    </name>
		{% endif %}
{% endif %}
{% if data.contributor %}
{% if data.contributor is iterable %}
  {% for item in data.contributor %}
    <name>
      <namePart>{{ item }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/ctb" authority="marcrelator" type="text">contributor</roleTerm>
      </role>
    </name>
  {% endfor %}
  {% else %}
  <name>
      <namePart>{{ data.contributor }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/ctb" authority="marcrelator" type="text">contributor</roleTerm>
      </role>
    </name>
{% endif %}
{% endif %}

{% if data.agent %}
{% if data.agent.value is defined %}
  <name>
    <namePart>{{ data.agent.value }}</namePart>
    <role>
		  <roleTerm valueURI="{{ data.agent.role_uri }}" authority= "marcrelator" type="text">{{ data.agent.role }}</roleTerm>
		</role>
  </name>{% else %}
  {% for agent in data.agent %}
    <name>
        <namePart>{{ agent.value }}</namePart>
        <role>
			<roleTerm valueURI="{{ agent.role_uri }}" authority= "marcrelator" type="text">{{ agent.role }}</roleTerm>
		</role>
    </name>  
  {% endfor %}
{% endif %}
{% endif %}

{% if data.agent_linked_data %}
{% if data.agent_linked_data.value is defined %}
  <name valueURI="{{ data.agent_linked_data.uri }}">
      <namePart>{{ data.agent_linked_data.value }}</namePart>
      <role>
        <roleTerm valueURI="{{ data.agent_linked_data.role_uri }}" authority="marcrelator" type="text">{{ data.agent_linked_data.role }}</roleTerm>
      </role>
    </name>{% else %}
  {% for agent in data.agent_linked_data %}
    <name valueURI="{{ agent.uri }}">
      <namePart>{{ agent.value }}</namePart>
      <role>
        <roleTerm valueURI="{{ agent.role_uri }}" authority="marcrelator" type="text">{{ agent.role }}</roleTerm>
      </role>
    </name>  {% endfor %}
{% endif %}
{% endif %}

{% if data.creator_linked_data %}
{% if data.creator_linked_data.value is defined %}
  <name valueURI="{{ data.creator_linked_data.uri }}">
      <namePart>{{ data.creator_linked_data.value }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/cre" authority="marcrelator" type="text">creator</roleTerm>
      </role>
    </name>{% else %}
  {% for creator in data.creator_linked_data %}
    <name valueURI="{{ creator.uri }}">
      <namePart>{{ creator.value }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/cre" authority="marcrelator" type="text">creator</roleTerm>
      </role>
    </name>  
  {% endfor %}
{% endif %}
{% endif %}

{% if data.contributor_linked_data %}
{% if data.contributor_linked_data.value is defined %}
  <name valueURI="{{ data.contributor_linked_data.uri }}">
      <namePart>{{ data.contributor_linked_data.value }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/ctb" authority="marcrelator" type="text">contributor</roleTerm>
      </role>
    </name>{% else %}
  {% for contributor in data.contributor_linked_data %}
    <name valueURI="{{ contributor.uri }}">
      <namePart>{{ contributor.value }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/ctb" authority="marcrelator" type="text">contributor</roleTerm>
      </role>
    </name>  
  {% endfor %}
{% endif %}
{% endif %}

{% if data.local_department %}
{% if data.local_department is iterable %}
  {% for item in data.local_department %}
    <name>
      <namePart>{{ item }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/ctb" authority="marcrelator" type="text">contributor</roleTerm>
      </role>
    </name>
  {% endfor %}
   {% else %}
   <name>
      <namePart>{{ data.local_department }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/ctb" authority="marcrelator" type="text">contributor</roleTerm>
      </role>
    </name>
{% endif %}    
{% endif %}
{% if data.sponsorship %}
{% if data.sponsorship is iterable %}
  {% for item in data.sponsorship %}
    <name>
      <namePart>{{ item }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/spn" authority="marcrelator" type="text">sponsor</roleTerm>
      </role>
    </name>
  {% endfor %}
  {% else %}
  <name>
      <namePart>{{ data.sponsorship }}</namePart>
      <role>
        <roleTerm valueURI="http://id.loc.gov/vocabulary/relators/spn" authority="marcrelator" type="text">sponsor</roleTerm>
      </role>
    </name>
{% endif %}
{% endif %}

{# Type of Resource #}
{% if data.content_type %}
	{% for item in data.content_type %}
    	<typeOfResource>{{ item }}</typeOfResource>
    {% endfor %}
{% endif %}
<typeOfResource>{{ data.type|escape('html_attr') }}</typeOfResource>

{# Origin Info #}
<originInfo>
{% if data.date_created|length > 0 %}
	<dateCreated>{{ data.date_created|date("Y-m-d") }}</dateCreated>
{% endif %}
{% if data.date_issued %}
	<dateIssued>{{ data.date_issued }}</dateIssued>
{% endif %}
{% if data.date_digital_creation %}
	<dateOther>{{ data.date_digital_creation }}</dateOther>
{% endif %}
</originInfo>
{% if data.original_publisher %}
{% if data.original_publisher is iterable %}
{% for publisher in original_publisher %}
<originInfo eventType="publication">
	<publisher>{{ publisher }}</publisher>
</originInfo>
{% endfor %}
{% else %}
<originInfo eventType="publication">
	<publisher>{{ data.publisher }}</publisher>
</originInfo>
{% endif %}
{% endif %}

{# Physical Description #}
<physicalDescription>
<form authority="marcform">electronic</form>
<form authority="gmd">electronic resource</form>
{% if data.extent %}
{% if data.extent is iterable %}
	{% for extent in data.extent %}
        <extent>{{ extent }}</extent>
    {% endfor %}
    {% else %}
    <extent>{{ data.extent }}</extent>
{% endif %}
{% endif %}
{% if data.format %}
    <digitalOrigin>{{ data.format }}</digitalOrigin>
{% endif %}
{% if data.digital_origin %}
    <digitalOrigin>{{ data.digital_origin }}</digitalOrigin>
{% endif %}
{% if data.medium %}
{% if data.medium is iterable %}
	{% for item in data.medium %}
  		<form>{{ item }}</form>
   	{% endfor %}
    {% else %}
    <form>{{ data.medium }}</form>
{% endif %}
{% endif %}
</physicalDescription>

{# Identifier #}
{% if data.identifier %}
{% if data.identifier.authority is defined %}
  <identifier type="{{ data.identifier.authority }}">{{ data.identifier.value }}</identifier>
{% else %}
  {% for item in data.identifier %}
    <identifier type="{{ item.authority }}">{{ item.value }}</identifier>
  {% endfor %}
{% endif %}
{% endif %}

{# Genre #}
{% if data.genre_form %}
{% if data.genre_form is iterable %}
  {% for item in data.genre_form %}
    <genre>{{ item }}</genre>
  {% endfor %}
  {% else %}
  <genre>{{ data.genre_form }}</genre>
{% endif %}
{% endif %}
{% if data.genre_form_linked_data %}
{% if data.genre_form_linked_data.value is defined %}
  <genre valueURI="{{ data.genre_form_linked_data.uri }}">{{ data.genre_form_linked_data.value }}</genre>
{% else %}
  {% for genre in data.genre_form_linked_data %}
    <genre valueURI="{{ genre.uri }}">{{ genre.value }}</genre>
  {% endfor %}
{% endif %}
{% endif %}

{# Subject #}

{% if data.geographic_subject %}
{% if data.geographic_subject is iterable %}
{% for item in data.geographic_subject %}
    <subject><geographic>{{ item }}</geographic></subject>
  {% endfor %}
  {% else %}
  <subject><geographic>{{ data.geographic_subject }}</geographic></subject>
{% endif %}
{% endif %}
{% if data.geographic_subject_linked_data %}
{% if data.geographic_subject_linked_data.value is defined %}
  <subject><geographic valueURI="{{ data.geographic_subject_linked_data.uri }}">{{ data.geographic_subject_linked_data.value }}</geographic></subject>
{% else %}
  {% for subject in data.geographic_subject_linked_data %}
    <subject><geographic valueURI="{{ subject.uri }}">{{ subject.value }}</geographic></subject>
  {% endfor %}
{% endif %}
{% endif %}

{% if data.subject %}
{% if data.subject is iterable %}
  {% for item in data.subject %}
    <subject><topic>{{ item }}</topic></subject>
  {% endfor %}
  {% else %}
      <subject><topic>{{ data.subject }}</topic></subject>
{% endif %}
{% endif %}
{% if data.subject_linked_data %}
{% if data.subject_linked_data.value is defined %}
  <subject><topical valueURI="{{ data.subject_linked_data.uri }}">{{ data.subject_linked_data.value }}</topical></subject>
{% else %}
  {% for subject in data.subject_linked_data %}
    <subject><topical valueURI="{{ subject.uri }}">{{ subject.value }}</topical></subject>
  {% endfor %}
{% endif %}
{% endif %}

{% if data.temporal_subject %}
{% if data.temporal_subject is iterable %}
  {% for item in data.temporal_subject %}
    <subject><temporal>{{ item }}</temporal></subject>
  {% endfor %}
  {% else %}
  <subject><temporal>{{ data.temporal_subject }}</temporal></subject>
{% endif %}
{% endif %}
{% if data.temporal_subject_linked_data %}
{% if data.temporal_subject_linked_data.value is defined %}
  <subject><temporal valueURI="{{ data.temporal_subject_linked_data.uri }}">{{ data.temporal_subject_linked_data.value }}</temporal></subject>
{% else %}
  {% for subject in data.temporal_subject_linked_data %}
    <subject><temporal valueURI="{{ subject.uri }}">{{ subject.value }}</temporal></subject>
  {% endfor %}
{% endif %}
{% endif %}

{% if data.coordinates %}
{% if data.coordinates is iterable %}
{% for coordinates in data.coordinates %}
<subject>
    <cartographics>
        <cartographicExtension>{{ coordinates|escape('html_attr') }}</cartographicExtension>
    </cartographics>
</subject>
 {% endfor %}
 {% else %}
 <subject>
    <cartographics>
        <cartographicExtension>{{ data.coordinates }}</cartographicExtension>
    </cartographics>
</subject>
{% endif %}
{% endif %}

{# Location #}
{% if data.physical_location %}
{% if data.physical_location is iterable %}
{% for location in data.physical_location %}
  <location>
    <holdingSimple>
      <copyInformation>
        <shelfLocator>{{ location }}</shelfLocator>
      </copyInformation>
    </holdingSimple>
  </location>
  {% endfor %}
   {% else %}
   <location>
    <holdingSimple>
      <copyInformation>
        <shelfLocator>{{ data.physical_location }}</shelfLocator>
      </copyInformation>
    </holdingSimple>
  </location>
{% endif %}
{% endif %}
<location>
    {% if node.id %}
    	{% set nodeurl = url('entity.node.canonical', {'node': node.id}, {'absolute': true}) %}
            <url displayLabel="electronic resource" usage="primary display">{{ nodeurl }}</url>
    {% else %}    
        {% set nodeurl =  url('<current>') %}
        	<url displayLabel="electronic resource" usage="primary display">{{ current }}</url>
	{% endif%}
</location>

{# Table of Contents #}
{% if data.table_of_contents %}
{% if data.table_of_contents is iterable %}
{% for table in data.table_of_contents %}
  <tableOfContents>{{ table }}</tableOfContents>
  {% endfor %}
  {% else %}
    <tableOfContents>{{ data.table_of_contents }}</tableOfContents>
{% endif %}
{% endif %}

{# Audience #}
{% if data.audience %}
{% if data.audience is iterable %}
  {% for item in data.audience %}
    <targetAudience>{{ item }}</targetAudience>
  {% endfor %}
  {% else %}
      <targetAudience>{{ data.audience }}</targetAudience>
{% endif %}
{% endif %}

{# Classification #}
{% if data.classification %}
{% if data.classification.authority is defined %}
  <classification authority="{{ data.classification.authority }}">{{ data.classification.value }}</classification>
{% else %}
  {% for item in data.classification %}
    <classification authority="{{ item.authority }}">{{ item.value }}</classification>
  {% endfor %}
{% endif %}
{% endif %}

{# Language #}
{% if data.language %}
{% if data.language is iterable %}
	{% for language in data.language %}
		<language>
			<languageTerm type="text" authority="iso639-2b">{{ language }}</languageTerm>
		</language>
	{% endfor %}
    {% else %}
    <language>
			<languageTerm type="text" authority="iso639-2b">{{ data.language }}</languageTerm>
		</language>
{% endif %}	
{% endif %}	

{# Abstract #}
{% if data.abstract %}
<abstract type="Summary">
{{ data.abstract }}
</abstract>
{% endif %}

{# Note #}
{% if data.date_built %}
  <note displayLabel="Date Built">{{ data.date_built }}</note>
{% endif %}
{% if data.date_razed %}
  <note displayLabel="Date Razed">{{ data.date_razed }}</note>
{% endif %}
{% if data.projection %}
{% if data.projection is iterable %}
{% for projection in data.projection %}
  <note displayLabel="Projection">{{ projection }}</note>
{% endfor %}
{% else %}
  <note displayLabel="Projection">{{ data.projection }}</note>
{% endif %}
{% endif %}
{% if data.state_edition %}
{% if data.state_edition is iterable %}
{% for state_edition in data.state_edition %}
  <note displayLabel="State/Edition of Map">{{ state_edition }}</note>
{% endfor %}
{% else %}
  <note displayLabel="State/Edition of Map">{{ data.state_edition }}</note>
{% endif %}
{% endif %}
{% if data.digital_publisher %}
{% if data.digital_publisher is iterable %}
{% for publisher in data.digital_publisher %}
  <note displayLabel="Digital publisher">{{ publisher }}</note>
   {% endfor %}
   {% else %}
     <note displayLabel="Digital publisher">{{ data.digital_publisher }}</note>
{% endif %}
{% endif %}
{% if data.note %}
{% if data.note is iterable %}
  {% for item in data.note %}
    <note>{{ item }}</note>
  {% endfor %}
  {% else %}
  <note>{{ data.note }}</note>
{% endif %}
{% endif %}
{% if data.provenance %}
{% if data.provenance is iterable %}
{% for item in data.provenance %}
   <note>{{ item }}</note>
    {% endfor %}
  {% else %}
     <note>{{ data.provenance }}</note>
{% endif %}
{% endif %}
{% if data.description %}
{% if data.description is iterable %}
  {% for item in data.description %}
    <note>{{ item }}</note>
  {% endfor %}
  {% else %}
  <note>{{ data.description }}</note>
{% endif %}
{% endif %}

{# Related Item #}
{% if data.collecting_area %}
{% if data.collecting_area is iterable %}
{% for item in data.collecting_area %}
    <relatedItem type="host">
      <titleInfo>
        <title>{{ item }}</title>
      </titleInfo>
    </relatedItem>
  {% endfor %}
  {% else %}
  <relatedItem type="host">
      <titleInfo>
        <title>{{ data.collecting_area }}</title>
      </titleInfo>
    </relatedItem>
{% endif %}
{% endif %}

{% if data.digital_exhibit %}
{% if data.digital_exhibit.value is defined %}
  <relatedItem type="host">
      <titleInfo>
        <title>{{ data.digital_exhibit.value }}</title>
      </titleInfo>
    </relatedItem>
{% else %}
  {% for item in data.digital_exhibit %}
    <relatedItem type="host">
      <titleInfo>
        <title>{{ item.value }}</title>
      </titleInfo>
    </relatedItem>  {% endfor %}
{% endif %}
{% endif %}

{% if data.original_publication %}
{% if data.original_publication is iterable %}
  {% for item in data.original_publication %}
    <relatedItem>
      <titleInfo><title>{{ item }}</title></titleInfo>
    </relatedItem>
  {% endfor %}
  {% else %}
<relatedItem>
      <titleInfo><title>{{ data.original_publication }}</title></titleInfo>
    </relatedItem>
{% endif %}
{% endif %}
{% if data.physical_collection %}
{% if data.physical_collection is iterable %}
{% for collection in data.physical_collection %}
 <relatedItem type="host">
    <titleInfo><title>{{ collection }}</title></titleInfo>
  </relatedItem>
  {% endfor %}
  {% else %}
  <relatedItem type="host">
    <titleInfo><title>{{ data.physical_collection }}</title></titleInfo>
  </relatedItem>
{% endif %}
{% endif %}
{% if data.related_record %}
{% if data.related_record is iterable %}
  {% for item in data.related_record %}
    <relatedItem type="isReferencedBy" displayLabel="Catalog Record">
      <location><url>{{ item }}</url></location>
    </relatedItem>
  {% endfor %}
  {% else %}
  <relatedItem type="isReferencedBy" displayLabel="Catalog Record">
      <location><url>{{ data.related_record }}</url></location>
    </relatedItem>
{% endif %}
{% endif %}
{% if data.related_url %}
{% if data.related_url is iterable %}
{% for url in data.related_url %}
  <relatedItem type="references">
    <location><url>{{ url }}</url></location>
  </relatedItem>
 {% endfor %}
 {% else %}
 <relatedItem type="references">
    <location><url>{{ data.related_url }}</url></location>
  </relatedItem>
{% endif %}
{% endif %}

{# Rights Statements #}
{% if data.rights|length > 0 %} 	
	<accessCondition type="use and reproduction" displayLabel="Rights Statement">{{ data.rights }}</accessCondition>
{% endif %}
{% if data.access_rights %}
{% if data.access_rights is iterable %}
	{% for rights in data.access_rights %}
	<accessCondition type="restriction on access">
    	{{ rights }}
	</accessCondition>
	{% endfor %}
    {% else %}
    <accessCondition type="restriction on access">
    	{{ data.access_rights }}
	</accessCondition>
{% endif %}
{% endif %}

{% if attribute(data, 'ismemberof') %}
	{% if attribute(data, 'ismemberof') is iterable %}
		{% for collection in attribute(data, 'ismemberof')%}
			{% set parentnode = bamboo_load_entity('node', collection) %}
			{% set parentnodeurl = url('entity.node.canonical', {'node': collection}, {'absolute': true}) %}
				<relatedItem type="host" displayLabel="Collection">
					<titleInfo>
						<title>{{ parentnode.title.value }}</title>
					</titleInfo>
				</relatedItem>
		{% endfor %}
		{% else %}
			{% set parentnode = bamboo_load_entity('node', attribute(data, 'ismemberof')) %}
			{% set parentnodeurl = url('entity.node.canonical', {'node': attribute(data, 'ismemberof')}, {'absolute': true}) %}
				<relatedItem type="host" displayLabel="Collection">
					<titleInfo>
						<title>{{ parentnode.title.value }}</title>
					</titleInfo>
				</relatedItem>
	{% endif %}
{% endif %}
<recordInfo>
	<languageOfCataloging>
		<languageTerm authority="iso639-2b" type="code">eng</languageTerm>
    </languageOfCataloging>
	<note type="statement of responsibility" altRepGroup="00">This MODS record was sourced from an Archipelago Commons repository. Not all data elements in this repository were mapped to MODS elements.</note>
</recordInfo>
</mods>