{# Created by Allison & Diego March 2024.
Uses Archipelago's default Simple Dublin Core XML template as base. #}
{%- set oai_id = 'oai:fake:test' -%}
{%- if node.uuid.value -%}
{%- set oai_id = node.uuid.value -%}
{%- set changed = node.changed.value|date("Y-m-d") -%}
{%- endif -%}
<header>
      <identifier>oai:localhost:{{ oai_id }}</identifier>
      <datestamp>{{ changed }}</datestamp>
{%- if attribute(data, 'ismemberof') -%} 
  {%- if attribute(data, 'ismemberof') is iterable -%} 
    {%- for collection in attribute(data, 'ismemberof') -%} 
      {%- set parentnode = bamboo_load_entity('node', collection) -%} 
      {%- if parentnode -%} 
      <setSpec>{{ parentnode.uuid.value }}</setSpec>
      {%- endif -%} 
    {%- endfor -%} 
  {% else %} 
	 {% set parentnode = bamboo_load_entity('node', attribute(data, 'ismemberof')) %} 
     {% if parentnode %} 
		<setSpec>{{ parentnode.uuid.value }}</setSpec>
     {% endif %} 
  {% endif %} 
{% endif %} 
    </header>
{% if data_api.query.verb == "ListRecords" or data_api.query.verb == "GetRecord" %}    
<metadata>
{% if data_api.query.metadataPrefix == 'oai_dc' %}

<oai_dc:dc 
         xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" 
         xmlns:dc="http://purl.org/dc/elements/1.1/" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ 
         http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
<dc:title>{{ data.label|escape('html_attr') }}</dc:title>
{# access_rights #}
{% if data.access_rights %}
  <dc:rights>{{ data.access_rights }}</dc:rights>
{% endif %}
{# agent #}
{% if data.agent %}
  {% for agent in data.agent %}
    <dc:creator>{{ agent.value }}</dc:creator>
  {% endfor %}
{% endif %}
{# agent_linked_data #}
{% if data.agent_linked_data %}
  {% for agent in data.agent_linked_data %}
    <dc:creator>{{ agent.value }}</dc:creator>
  {% endfor %}
{% endif %}
{# classification #}
{% if data.classification %}
  {% for item in data.classification %}
    <dc:subject>{{ item.value }}</dc:subject>
  {% endfor %}
{% endif %}
{# content_type #}
{% if data.content_type %}
  <dc:type>{{ data.content_type }}</dc:type>
{% endif %}
{# date_issued #}
{% if data.date_issued %}
  <dc:date>{{ data.date_issued }}</dc:date>
{% endif %}
{# digital_exhibit (object, max:1) #}
{% if data.digital_exhibit %}
  <dc:relation>{{ data.digital_exhibit.value }}</dc:relation>
{% endif %}
{# digital_publisher #}
{% if data.digital_publisher %}
  {% for pub in data.digital_publisher %}
    <dc:publisher>{{ pub }}</dc:publisher>
  {% endfor %}
{% endif %}
{# format #}
{% if data.format %}
  <dc:format>{{ data.format }}</dc:format>
{% endif %}
{# genre_form #}
{% if data.genre_form %}
  {% for item in data.genre_form %}
    <dc:type>{{ item }}</dc:type>
  {% endfor %}
{% endif %}
{# genre_form_linked_data #}
{% if data.genre_form_linked_data %}
  {% for item in data.genre_form_linked_data %}
    <dc:type>{{ item.value }}</dc:type>
  {% endfor %}
{% endif %}
{# geographic_subject #}
{% if data.geographic_subject %}
  {% for item in data.geographic_subject %}
    <dc:coverage>{{ item }}</dc:coverage>
  {% endfor %}
{% endif %}
{# geographic_subject_linked_data #}
{% if data.geographic_subject_linked_data %}
  {% for item in data.geographic_subject_linked_data %}
    <dc:coverage>{{ item.value }}</dc:coverage>
  {% endfor %}
{% endif %}
{# local_department #}
{% if data.local_department %}
  {% for item in data.local_department %}
    <dc:contributor>{{ item }}</dc:contributor>
  {% endfor %}
{% endif %}
{# medium #}
{% if data.medium %}
  {% for item in data.medium %}
    <dc:format>{{ item }}</dc:format>
  {% endfor %}
{% endif %}
{# mimetype #}
{% if data.mimetype %}
  {% for item in data.mimetype %}
    <dc:format>{{ item }}</dc:format>
  {% endfor %}
{% endif %}
{# note #}
{% if data.note %}
  {% for item in data.note %}
    <dc:description>{{ item }}</dc:description>
  {% endfor %}
{% endif %}
{# original_publication #}
{% if data.original_publication %}
  {% for item in data.original_publication %}
    <dc:relation>{{ item }}</dc:relation>
  {% endfor %}
{% endif %}
{# original_publisher (max:1) #}
{% if data.original_publisher %}
  <dc:publisher>{{ data.original_publisher }}</dc:publisher>
{% endif %}
{# physical_collection (max:1) #}
{% if data.physical_collection %}
  <dc:relation>{{ data.physical_collection }}</dc:relation>
{% endif %}
{# physical_location (max:1) #}
{% if data.physical_location %}
  <dc:description>{{ data.physical_location }}</dc:description>
{% endif %}
{# projection #}
{% if data.projection %}
  <dc:description>{{ data.projection }}</dc:description>
{% endif %}
{# related_item #}
{% if data.related_record %}
  {% for item in data.related_record %}
    <dc:relation>{{ item }}</dc:relation>
  {% endfor %}
{% endif %}
{# related_url #}
{% if data.related_url %}
  <dc:relation>{{ data.related_url }}</dc:relation>
{% endif %}
{# related_url_historic #}
{% if data.related_url_historic %}
  <dc:relation>{{ data.related_url_historic }}</dc:relation>
{% endif %}
{# rights_details #}
{% if data.rights_details %}
  <dc:rights>{{ data.rights_details }}</dc:rights>
{% endif %}
{# sponsorship #}
{% if data.sponsorship %}
  {% for item in data.sponsorship %}
    <dc:contributor>{{ item }}</dc:contributor>
  {% endfor %}
{% endif %}
{# state_edition #}
{% if data.state_edition %}
  <dc:description>{{ data.state_edition }}</dc:description>
{% endif %}
{# subject #}
{% if data.subject %}
  {% for item in data.subject %}
    <dc:subject>{{ item }}</dc:subject>
  {% endfor %}
{% endif %}
{# subject_linked_data #}
{% if data.subject_linked_data %}
  {% for item in data.subject_linked_data %}
    <dc:subject>{{ item.value }}</dc:subject>
  {% endfor %}
{% endif %}
{# table_of_contents #}
{% if data.table_of_contents %}
  <dc:description>{{ data.table_of_contents }}</dc:description>
{% endif %}
{# temporal_subject #}
{% if data.temporal_subject %}
  {% for item in data.temporal_subject %}
    <dc:coverage>{{ item }}</dc:coverage>
  {% endfor %}
{% endif %}
{# temporal_subject_linked_data #}
{% if data.temporal_subject_linked_data %}
  {% for item in data.temporal_subject_linked_data %}
    <dc:coverage>{{ item.value }}</dc:coverage>
  {% endfor %}
{% endif %}
{# title_alternative #}
{% if data.title_alternative %}
  {% for item in data.title_alternative %}
    <dc:title>{{ item }}</dc:title>
  {% endfor %}
{% endif %}
{# Creator #}
{% if data.creator|length > 0  %}
	{% if data.creator is iterable %}
		{% for creator in data.creator %}
			<dc:creator>{{ creator }}</dc:creator>
		{% endfor %}
     {% else %}
     	<dc:creator>{{ data.creator }}</dc:creator>
	{% endif %} 
{% endif %}
{% if data.creator_lod|length > 0 %}
	{% for creator_lod in data.creator_lod %}
     	<dc:creator>{{ creator_lod.name_label }}</dc:creator>
	{% endfor %}
{% endif %}
{# Contributor #}
{% if data.contributor|length > 0 %}
  {% if data.contributor is iterable %}
    {% for contributor in data.contributor %}
      <dc:contributor>{{ contributor }}</dc:contributor>
    {% endfor %}
  {% else %}
    <dc:contributor>{{ data.contributor }}</dc:contributor>
  {% endif %}
{% endif %}
{# Coverage (coordinates) #}
{% if data.coordinates %}
  <dc:coverage>{{ data.coordinates|escape('html_attr') }}</dc:coverage>
{% endif %}
{# Date #}
{% if data.date_created|length > 0 %}
	<dc:date>{{ data.date_created }}</dc:date>
{% endif %}
	{% if data.date_created_edtf.date_free is defined and not empty %}
		<dc:date>{{ data.date_created_edtf.date_free }}</dc:date>
	{% endif %}
	{% if data.date_issued_edtf.date_free is defined and not empty %}	
		<dc:date>{{ data.date_issued_edtf.date_free }}</dc:date>
	{% endif %}	
{# Description + Abstract #}
{% if data.description|length > 0 %}
    {% if data.description is iterable %}
        {% for description in data.description %}
            <dc:description>{{ description|escape('html_attr') }}</dc:description>
        {% endfor %}
    {% else %}
        <dc:description>{{ data.description|escape('html_attr') }}</dc:description>
    {% endif %}
{% elseif data.abstract %}
    <dc:description>{{ data.abstract|escape('html_attr') }}</dc:description>
{% endif %}
{# Language #}
{% if data.language|length > 0 %}
     {% if data.language is iterable %}
     	{% for language in data.language %}
       		<dc:language>{{ language }}</dc:language>
     	{% endfor %}
     {% else %}
     		<dc:language>{{ data.language }}</dc:language>
     {% endif %} 
{% endif %}
{# Type #}
{% if data.type|length > 0 %}
	<dc:type>{{ data.type }}</dc:type>
{% endif %}    
{# Format (extent) #}
{% if data.extent %}
  {% if data.extent is iterable %}
    {% for extent in data.extent %}
      <dc:format>{{ extent|escape('html_attr') }}</dc:format>
    {% endfor %}
  {% else %}
    <dc:format>{{ data.extent|escape('html_attr') }}</dc:format>
  {% endif %}
{% endif %}
{# Identifier (UPDATED) #}
{% if data.identifier %}
  {% if data.identifier is iterable %}
    {% for id in data.identifier %}
      <dc:identifier>{{ id.value|escape('html_attr') }}</dc:identifier>
    {% endfor %}
  {% else %}
    <dc:identifier>{{ data.identifier.value|escape('html_attr') }}</dc:identifier>
  {% endif %}
{% endif %}
{# Relation #}
{% if node.id %}
    {% set nodeurl = url('entity.node.canonical', {'node': node.id}, {'absolute': true}) %}
{% else %}
    {% set nodeurl = '<current>' ~ '/iiif/manifest' %}
{% endif%}
{# Relation (collecting_area) #}
{% if data.collecting_area %}
  <dc:relation>{{ data.collecting_area|escape('html_attr') }}</dc:relation>
{% endif %}
 {% if attribute(data, 'ismemberof') %}
 {% if attribute(data, 'ismemberof') is iterable %}
 {% for collection in attribute(data, 'ismemberof')%}
   {% set parentnode = bamboo_load_entity('node', collection) %}
   {% set parentnodeurl = url('entity.node.canonical', {'node': collection}, {'absolute': true}) %}
<dc:relation>{{ parentnode.title.value }}</dc:relation>
{% endfor %}
{% else %}
  {% set parentnode = bamboo_load_entity('node', attribute(data, 'ismemberof')) %}
  {% set parentnodeurl = url('entity.node.canonical', {'node': attribute(data, 'ismemberof')}, {'absolute': true}) %}
  <dc:relation>{{ parentnode.title.value }}</dc:relation>
  {% endif %}
{% endif %}
{# Rights #}
{% if data.rights|length > 0 %} 
  <dc:rights>{{ data.rights }}</dc:rights>
{% endif %}
</oai_dc:dc>
{% endif %}
</metadata>
{% endif %}