{# Updated August 2022 for 1.0.0 to fix:
- data.local_identifier that could be multiples
Simple Dublin Core XML --Contributor, Coverage, and Format elements unmapped #}
<?xml version="1.0" encoding="UTF-8"?>
<oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
<dc:title>{{ data.label|escape('html_attr') }}</dc:title>
{# Alternative Title #}
{% if data.title_alternative|length > 0 %}
  {% for title in data.title_alternative %}
    <dc:title>{{ title }}</dc:title>
  {% endfor %}
{% endif %}
{# Creators and Contributors #}
{% if data.creator|length > 0 %}
  {% for creator in data.creator %}
    <dc:creator>{{ creator }}</dc:creator>
  {% endfor %}
{% endif %}
{% if data.contributor|length > 0 %}
  {% for contributor in data.contributor %}
    <dc:contributor>{{ contributor }}</dc:contributor>
  {% endfor %}
{% endif %}
{% if data.agent|length > 0 %}
	{% for agent in data.agent %}
     	<dc:creator>{{ agent.value }}</dc:creator>
	{% endfor %}
{% endif %}
{% if data.agent_linked_data|length > 0 %}
	{% for agent in data.agent_linked_data %}
     	<dc:creator>{{ agent.value }}</dc:creator>
	{% endfor %}
{% endif %}
{# Sponsorship #}
{% if data.sponsorship|length > 0 %}
	<dc:contributor>{{ data.sponsorship }}</dc:contributor>
{% endif %}
{# Coverage #}
{% if data.coordinates|length > 0 %}
   <dc:coverage>{{ data.coordinates }}</dc:coverage>
{% endif %}
{% if data.geographic_subject|length > 0 %}
  {% for geo in data.geographic_subject %}
    <dc:coverage>{{ geo }}</dc:coverage>
  {% endfor %}
{% endif %}
{% if data.geographic_subject_linked_data|length > 0 %}
  {% for geo in data.geographic_subject_linked_data %}
    <dc:coverage>{{ geo.value }}</dc:coverage>
  {% endfor %}
{% endif %}
{% if data.temporal_subject|length > 0 %}
  {% for temp in data.temporal_subject %}
    <dc:coverage>{{ temp }}</dc:coverage>
  {% endfor %}
{% endif %}
{% if data.temporal_subject_linked_data|length > 0 %}
  {% for temp in data.temporal_subject_linked_data %}
    <dc:coverage>{{ temp.value }}</dc:coverage>
  {% endfor %}
{% endif %}
{# Format #}
{% if data.extent|length > 0 %}
  {% for extent in data.extent %}
    <dc:format>{{ extent }}</dc:format>
  {% endfor %}
{% endif %}
{% if data.format|length > 0 %}
   <dc:format>{{ data.format }}</dc:format>
{% endif %}
{% if data.medium|length > 0 %}
  {% for medium in data.medium %}
    <dc:format>{{ medium }}</dc:format>
  {% endfor %}
{% endif %}
{% if data.mimetype|length > 0 %}
  {% for mimetype in data.mimetype %}
    <dc:format>{{ mimetype }}</dc:format>
  {% endfor %}
{% endif %}
{# Date #}
{% if data.date_created|length > 0 %}
	<dc:date>{{ data.date_created }}</dc:date>
{% endif %}
{% if data.date_issued|length > 0 %}
	<dc:date>{{ data.date_issued }}</dc:date>
{% endif %}
{# Digital Publisher #}
{% if data.digital_publisher|length > 0 %}
  <dc:publisher>{{ data.digital_publisher }}</dc:publisher>
{% endif %}  
{# Original Publisher #}
{% if data.original_publisher|length > 0 %}
  <dc:publisher>{{ data.original_publisher }}</dc:publisher>
{% endif %} 
{# Abstract #}
{% if data.abstract %}
  <dc:description>{{ data.abstract }}</dc:description>
{% endif %}
{# Description #}
{% if data.description|length > 0 %}
	{% for description in data.description %}
		<dc:description>{{ description }}</dc:description>
	{% endfor %}
{% endif %}
{# Note #}
{% if data.note|length > 0 %}
	{% for note in data.note %}
		<dc:description>{{ note }}</dc:description>
	{% endfor %}
{% endif %}
{# Table of Contents #}
{% if data.table_of_contents|length > 0 %}
	<dc:description>{{ data.table_of_contents }}</dc:description>
{% endif %}
{# Physical Location #}
{% if data.physical_location|length > 0 %}
	<dc:description>{{ data.physical_location }}</dc:description>
{% endif %}
{# Language #}
{% if data.language|length > 0 %}
     {% for language in data.language %}
       	<dc:language>{{ language }}</dc:language>
     {% endfor %}
{% endif %}
{# Subject #}
{% if data.subject|length > 0 %}
     {% for subject in data.subject %}
       	<dc:subject>{{ subject }}</dc:subject>
     {% endfor %}
{% endif %}
{% if data.subject_linked_data|length > 0 %}
     {% for subject in data.subject_linked_data %}
       	<dc:subject>{{ subject.value }}</dc:subject>
     {% endfor %}
{% endif %}
{% if data.classification|length > 0 %}
     {% for classification in data.classification %}
       	<dc:subject>{{ classification.value }}</dc:subject>
     {% endfor %}
{% endif %}
{# Type #}
{% if data.type|length > 0 %}
	<dc:type>{{ data.type }}</dc:type>
{% endif %} 
{% if data.content_type|length > 0 %}
	{% for type in data.content_type %}
       	<dc:type>{{ type }}</dc:type>
    {% endfor %}
{% endif %} 
{% if data.genre_form|length > 0 %}
  {% for genre in data.genre_form %}
    <dc:type>{{ genre }}</dc:type>
  {% endfor %}
{% endif %}
{% if data.genre_form_linked_data|length > 0 %}
  {% for genre in data.genre_form_linked_data %}
    <dc:type>{{ genre.value }}</dc:type>
  {% endfor %}
{% endif %}
{# Identifier #}
{% if data.identifier|length > 0 %}
  {% for id in data.identifier %}
    <dc:identifier>{{ id.value }}</dc:identifier>
  {% endfor %}
{% endif %}
{# Relation #}
{% if data.collecting_area|length > 0 %}
  {% for area in data.collecting_area %}
    <dc:relation>{{ area }}</dc:relation>
  {% endfor %}
{% endif %}
{% if data.digital_exhibit|length > 0 %}
      <dc:relation>{{ data.digital_exhibit.value }}</dc:relation>
{% endif %}
{% if data.original_publication|length > 0 %}
     <dc:relation>{{ data.original_publication }}</dc:relation>
{% endif %}
{% if data.physical_collection|length > 0 %}
     <dc:relation>{{ data.physical_collection }}</dc:relation>
{% endif %}
{% if data.related_record|length > 0 %}
     <dc:relation>{{ data.related_record }}</dc:relation>
{% endif %}
{% if data.related_url|length > 0 %}
     <dc:relation>{{ data.related_url }}</dc:relation>
{% endif %}
{% if data.related_url_historic|length > 0 %}
     <dc:relation>{{ data.related_url_historic }}</dc:relation>
{% endif %}
{% if node.id %}
    {% set nodeurl = url('entity.node.canonical', {'node': node.id}, {'absolute': true}) %}
{% else %}
    {% set nodeurl = '<current>' ~ '/iiif/manifest' %}
{% endif%}
 {% if attribute(data, 'ismemberof') %}
 {% if attribute(data, 'ismemberof') is iterable %}
 {% for collection in attribute(data, 'ismemberof')%}
   {% set parentnode = bamboo_load_entity('node', collection) %}
   {% set parentnodeurl = url('entity.node.canonical', {'node': collection}, {'absolute': true}) %}
<dc:relation>{{ parentnode.title.value }}</dc:relation>
{% endfor %}
{% else %}
  {% set parentnode = bamboo_load_entity('node', attribute(data, 'ismemberof')) %}
  {% set parentnodeurl = url('entity.node.canonical', {'node': attribute(data, 'ismemberof')}, {'absolute': true}) %}
  <dc:relation>{{ parentnode.title.value }}</dc:relation>
  {% endif %}
{% endif %}
{# Rights #}
{% if data.rights|length > 0 %} 
  <dc:rights>{{ data.rights }}</dc:rights>
{% endif %}
{% if data.rights_details|length > 0 %} 
  <dc:rights>{{ data.rights_details }}</dc:rights>
{% endif %}
{% if data.access_rights|length > 0 %}
	<dc:rights>{{ data.access_rights }}</dc:rights>
{% endif %}
</oai_dc:dc>